@import url("./normalize.css");
@import url("./theme.css");

@font-face {
  font-family: "Geist";
  src: url("/fonts/Geist[wght].ttf") format("truetype-variations");
  font-weight: 100 900;
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeistMono";
  src: url("/fonts/GeistMono[wght].ttf") format("truetype-variations");
  font-weight: 100 900;
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  background: var(--color-bg);
  color-scheme: dark;
  color: var(--color-text);
  font-family: "Geist", system-ui, sans-serif;
  font-optical-sizing: auto;
  font-size: 17px;
  font-synthesis: none;
  font-weight: 425;
  letter-spacing: -0.02em;
  line-height: 1.5;
  overflow-wrap: break-word;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  text-wrap-mode: wrap;
  word-break: break-word;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  letter-spacing: -0.02em;
}
