:root {
  --color-bg-btn-primary: lch(97% 8 60);
  --color-bg-btn-secondary: lch(97% 8 60 / 0.12);
  --color-bg: lch(7.2% 2 60);
  --color-border-accent: lch(84% 52 60);
  --color-border-muted: lch(24% 4 60);
  --color-border: lch(36% 4 60);
  --color-text-on-bg-btn-primary: lch(7.2% 2 60);
  --color-text-on-bg-btn-secondary: lch(94% 4 60);
  --color-text-placeholder: lch(52% 4 60);
  --color-text: lch(94% 4 60);

  --radius-md: 4px;
  --radius-lg: 6px;
}
