.login-root {
  align-content: end;
  display: grid;
  height: 100dvh;
  margin-inline: auto;
  max-width: 640px;
  padding: 12px;
  width: 100%;
}

.login-root .form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-root h1 {
  font-size: calc(32 / 16 * 1rem);
  font-weight: 600;
  margin: 0px;
}

.login-root input {
  appearance: none;
  background: transparent;
  border-radius: 2px;
  border: 1px solid color-mix(in srgb, var(--color-text) 20%, transparent);
  color: var(--color-text);
  height: 40px;
  outline: none;
  padding: 0px 12px;
  width: 100%;
}
.login-root input::placeholder {
  color: color-mix(in srgb, var(--color-text) 50%, transparent);
}

.login-root button {
  align-items: center;
  appearance: none;
  background: var(--color-text);
  border-radius: 2px;
  border: none;
  color: var(--color-bg);
  cursor: pointer;
  display: inline-flex;
  font-weight: 500;
  height: 40px;
  justify-content: center;
  margin-block-end: 12px;
  outline: none;
  padding: 0px;
  width: 100%;
}
