.login-root {
  display: flex;
  flex-direction: column;
  height: calc(100dvh - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  margin-inline: auto;
  max-width: 640px;
  padding: 12px;
  width: 100%;
}
.login-root .spacer {
  flex: 1 1 0px;
}
.login-root .form {
  border-radius: var(--radius-lg);
  border: 1px solid var(--color-border-accent);
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;
  padding: 12px;
}
.login-root h1 {
  font-size: calc(24 / 16 * 1rem);
  font-weight: 700;
  margin-block: 0px 12px;
}
.login-root input {
  appearance: none;
  background: transparent;
  border-radius: var(--radius-md);
  border: 1px solid var(--color-border);
  color: var(--color-text);
  height: 40px;
  margin-block-end: 12px;
  outline: none;
  padding-block: 0px;
  padding-inline: 12px;
  width: 100%;
}
.login-root input::placeholder {
  color: var(--color-text-placeholder);
}
.login-root button {
  align-items: center;
  appearance: none;
  background: var(--color-bg-btn-primary);
  border-radius: var(--radius-md);
  border: none;
  color: var(--color-text-on-bg-btn-primary);
  cursor: pointer;
  display: flex;
  font-weight: 500;
  height: 40px;
  justify-content: space-between;
  outline: none;
  padding-block: 0px;
  padding-inline: 12px;
  width: 100%;
}
